$br_2xs: 320px;
$br_xs: 480px;
$br_sm: 640px;
$br_md: 768px;
$br_lg: 1024px;
$br_xl: 1280px;
$br_2xl: 1440px;
$br_3xl: 1620px;
$br_4xl: 1920px;

$breakpoints: (
        "2xs": $br_2xs,
        "xs": $br_xs,
        "sm": $br_sm,
        "md": $br_md,
        "lg": $br_lg,
        "xl": $br_xl,
        "2xl": $br_2xl,
        "3xl": $br_3xl,
        "4xl": $br_4xl,
);